---
import "../scripts/app.js";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Navbar from '../components/Navbar.astro';
import Education from "../components/Education.astro";
import '../styles/index.css';

const myData = {
  name: "CyberFrank77 CV",
  title: "Full Stack Developer en pr치cticas - SegundoPlano",
  location: "Madrid - Spain",
};

const aboutText =
  "Especializ치ndome en Full Stack y con experiencia en dise침o y producci칩n audiovisual me enfrento ahora a un nuevo reto, entender los misterios de Javascript y convertirme en desarrollador web. Gotta Catch 'Em All! ";
---
 
<Layout title="CyberFrank CV">
  <Navbar />
 
	<section class="contact" id="contact">
      <div class="container">
        <div class="contact-links">
          <a href="https://github.com/CyberFrank77" target="_blank" rel="noopener noreferrer">GitHub</a>
          <a href="https://www.linkedin.com/in/francisco-fern%C3%A1ndez-347536197/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          <a href="mailto:developfrank@gmail.com">Email</a>
        </div>
      </div>
    </section>
       
  <main class="main-content">
    <section class="hero">
      <div class="container">
        <div class="hero-content">
          <h1 class="hero-name">{myData.name}</h1>
          <h2 class="hero-title">{myData.title}</h2>
		  
          <div class="hero-meta">
            <span class="hero-location">游늸 {myData.location}</span>
            
        </div>
      </div>
      
    </section>
    <div class="container">
    <div class="about-block">
      <p class="about-text">{aboutText}</p>
    </div>
    <section id="education">
      <Education />
    </section>
    <section id="experience">
      <Experience />
    </section>

    
  </main>
 
</Layout>

